h1 Канбан-доска здесь
div(class="draggable card newCard") Взять новую карточку

div(class="draggable card") Карточка 1
div(class="draggable card") Карточка 2
div(class="draggable card") Карточка 3

div(class="droppable dropArea") Удалить карточку