#app
    h1 Канбан-доска здесь
#view
    button Создать новую карточку
#logout
        button Разлогиниться

div(class="draggable" style="height:50px") Карточка 1
div(class="draggable" style="height:50px") Карточка 2
div(class="draggable" style="height:50px") Карточка 3

div(class="droppable") перенеси сюда