section(style="text-align-last: center")
    .tabs
        input.radio#tab_1(type="radio" name="inset" value="" checked="")
        label.radio(for="tab_1") Профиль и доступ

        .tabcontent.word(id="Profile")
            img(style="margin-top: 50px; margin-left: -13px" src=require("./profilewolf.svg") alt="")
            h1 Управление персональными данными
            p
                | Вы можете менять настройки доступа к информации и улучшениям. Чтобы
                wbr
                |             узнать больше, читайте следующие документы:
                a(href="/")
                    | Условия использования
                |  и
                a(href="/") Политика конфиденциальности
                | .
            h2(style="margin-top: 60px; text-align-last: left") О нас
            hr
            .container
                .row
                    .col-2-3
                        h3 Полное имя
                        input.inputLine(type="text" value="Username")#username
                        h3 О себе
                        textarea.aboutYou(placeholder="Something")
                        form()
                            button.saveButton(id='saveDataButton') Сохранить
                    .col-1-3
                        p
                            .user-avatar()#avatar
                        form(enctype="multipart/form-data" method="post" name="fileinfo")
                            label Обновить Аватар:
                            input(type="file" name="file" required="" accept="image/*")
                            input(type="submit" value="Загрузить" id='saveAvatarButton')
                            div
            h2(style="margin-top: 60px; text-align-last: left;") Контакт
            hr
            h3 Электронная почта
            textarea(readonly="" style="text-align-last: left;") user@mail.com
            button(onclick="mailChange()") Сменить или добавить почту