.board__view {
    position: relative;
    /* background-image: url(./background.png); */
    display: flex;
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    height:97%;
    /* background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

html, body {
    height: 100%;
    margin: 0;
}

.board__tab__controller {
    /* width: 20%; */
    border: 1px solid #ccc;
    background-color: #ededed;
}

.board__tabs {
    /* height: 50px; */
    background-color:#f1f1f1;
}

.board__tab {
    display: flex;
    position: relative;
    height: 110px;
    width: 150px;
    /* width: 100%; */
    border: 1px solid #ccc;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
}

.board__tab:hover {
    cursor: pointer;
}

.board__tab.selected {
    background-color: bisque;
}

.group__name:hover {
    color: blue;
    cursor: pointer;
}

.tab__avatar {

}

.card__avatar {
    width: 35px;
}

.user__display {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.card__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal__content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.user__panel.user__display {
    justify-content: flex-start;
}

.user__display.tab__user__displayer {
    height: 50%;
}

.tab__name__container {
    position: absolute;
    width: 50%;
    height: 25%;
    left: 25%;
    top: 10%;
    /* top: -25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tab__name__container:hover,
.tab__name__container:focus {
    color: blue;
}

.tab__name {
    text-align: center;
}

.tab__deleter {
    position: absolute;
    right: 5%;
    top: 5%;
}

.tab__deleter:hover,
.tab__deleter:focus {
    cursor: pointer;
}

.tab__dropzone {
    top: 0;
    left: 0;
    position: absolute;
    height: 50%;
    width: 100%;
}

.tab__dropzone.lower {
    top: 50%;
}

.tab__dropzone.upper {
    top: 0%;
}

.board__plus {
    text-align: center;
    background: hsla(0,0%,100%,.40);
    border: 2px dotted gray;
    height: 40px;
}

.board__plus:hover,
.board__plus:focus {
    /* color: black; */
    /* text-decoration: none; */
    cursor: pointer;
}

.plus__input {
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.group__displayer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.group__container {
    width: 250px;
    border-right: dashed;
    background-color: #ededed22;
}

.card__group {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid gray 2px;
    margin: 3px;
    padding: 5px;

    border-radius: 3px;

    /* background-color: #ededed;
    /* height: 100%; */
    /* border-left: dashed; */

    /* width: 200px;
    background: linear-gradient(90deg, #44ff8e, transparent); */
}

.group__header {
    border: inset;
    text-align: center;
    width: 90%;
}

.group__plus {
    padding: 5px 10px;
    background: hsla(0,0%,100%,.40);
    border: 2px dotted gray;
    height: 40px;
    border-radius: 5px;
}

.group__plus:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.group__input {
}

.user__avatar__container {

}

.board__tab__avatars {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 60%;
    height: 40%;
}

.user__avatar {
    max-width: 100%;
    max-height: 100%;

    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.card__plus:hover {
    cursor: pointer;
}

.card__container {
    width: 100%;
}

.board__card__container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
}

.trash {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100px;
    height: 100px;
}

.single__board {
    width: 100%;
}

.user__panel {
    height: 5%;
    background: #ededed;
    border-bottom: dashed;
}

.board__card {
    height: 75px;
    /* width: 150px; */
    position: relative;

    background: white;
    padding: 5px 10px;

    margin-top: 10px;
    /* margin-left: 5px; */

    border-radius: 5px;

    /* transition: 0.4s box-shadow ease ; */
    transition: 0.3s border-radius ease, 0.4s box-shadow ease ;
}

.card__avatars {

}

.card__user__displayer {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 60%;
    width: 50%;
    padding: 5px;
}

.card__avatar {

}


.board__card:hover {
    box-shadow: 4px 4px 4px 1px;
    border-radius: 9px;
}

.card__header {
    text-align: center;
}

.card__content {
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;

    padding: 3px;
    font-size: 80%;

    border: 1px dotted;
}

.board__card__container:hover {
    cursor: pointer;
}

.card__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: gray;    */
    background: hsla(0,0%,100%,.40);
    border: 2px dotted gray;
    height: 40px;
}

/* .board__tabs {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.board__tabs input {
    width: 10%;
}

.board__tabs .content {
    display: flex;
    float: left;
    border: none;
    outline: none;
    padding: 3px 2px;
    align-items: center;
}

.board__tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.board__tabs :hover {
    background-color: #ddd;
}

.board__tabs .active {
    background-color: #ccc;
} */

/* .tab__closer {
    color: #aaa;
    float: left;
    font-size: 13px;
    font-weight: bold;
}

.tab__closer:hover,
.tab__closer:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.card__deleter {
    color: #aaa;
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.modal__input {
    display: none;
}

.modal__adder {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
}

.modal__adder:hover,
.modal__adder:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card__deleter:hover,
.card__deleter:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.group__deleter {
    color: #aaa;
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.group__deleter:hover,
.group__deleter:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.board__group {
    display: flex;
    flex-direction: column;
    border-right: double black;
    margin: 5px;
    padding: 5px;
}

.board__group__name {
    margin-left: 7.5%;
}

.board__board {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.board__card {
    height:100px;
    width: 200px;
    border: 3px solid gray;
    background: white;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
}

.board__card__adder {
    background: gray;
    height: 45px;
    border: 2px dotted gray;
}

.board__modal {
    display: none; /* Hidden by default */
    /* position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    /* left: 0;
    top: 0;
    width: 100%; /* Full width */
    /* height: 100%; Full height */
    /* overflow: auto; Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */

/* .board__card__modal { */
    /* background-color: #fefefe; */
    /* margin: 15% auto; 15% from the top and centered */
    /* padding: 20px; */
    /* border: 1px solid #888;
    width: 80%;
}

.board__modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.board__modal__close:hover,
.board__modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */
