.board__view {
    position: relative;
    display: flex;
    height: 95%;
    background-color: #00bb77;
}

html, body {
    height: 100%;
    margin: 0;
}

.board__tab__controller {
    /* width: 20%; */
    background-color: rgba(0, 0, 0, 0.5);;
}

.board__tabs {
}

.board__tab {
    padding: 10px;
    margin: 10px 0px 10px 10px;
    display: flex;
    position: relative;
    height: 70px;
    width: 150px;
    border-radius: 20px 0px 0px 0px;
    background-color: #d3dae9;
    justify-content: center;
    align-items: center;
}

.board__tab:hover {
    cursor: pointer;
}

.board__tab.selected {
    background-color: white;
}

.group__name:hover {
    color: blue;
    cursor: pointer;
}

.tab__avatar {

}

.card__avatar {
    width: 35px;
}

.user__display {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.card__modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal__content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user__panel.user__display {
    justify-content: flex-start;
}

.user__display.tab__user__displayer {
    height: 50%;
}

.tab__name__container {
    position: absolute;
    width: 50%;
    height: 25%;
    left: 25%;
    top: 10%;
    /* top: -25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tab__name__container:hover,
.tab__name__container:focus {
    color: blue;
}

.tab__name {
    text-align: center;
}

.tab__deleter {
    position: absolute;
    right: 5%;
    top: 5%;
}

.tab__deleter:hover,
.tab__deleter:focus {
    cursor: pointer;
}

.tab__dropzone {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.tab__dropzone.lower {
    top: 50%;
}

.tab__dropzone.upper {
    top: 0%;
}

.board__plus {
    text-align: center;
    background: hsla(0, 0%, 100%, .50);
    border: 2px dotted gray;
    height: 40px;
}

.board__plus:hover,
.board__plus:focus {
    /* color: black; */
    /* text-decoration: none; */
    cursor: pointer;
}

.plus__input {
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.group__displayer {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 100%;
}

.group__container {

}

.card__group {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*border: solid white 2px;*/
    margin: 10px;
    padding: 5px;

    overflow: hidden;
    border-radius: 3px;
    background-color: #d3dae9;
}

.group__header {
    text-align: center;
    background-color: #00a86b;
    padding: 10px;
    color: white;
    font-size: large;
    width: 250px;
}

.group__plus {
    margin: 10px;
    padding: 5px 10px;
    background: hsla(0, 0%, 100%, .40);
    border: 2px dotted gray;
    height: 40px;
    border-radius: 5px;
}

.group__plus:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.group__input {
}

.user__avatar__container {

}

.board__tab__avatars {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 60%;
    height: 40%;
}

.user__avatar {
    max-width: 200%;
    max-height: 200%;

    border-radius: 50% 50%;
}

.card__plus:hover {
    cursor: pointer;
}

.card__container {
    width: 100%;
}

.board__card__container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
}

.trash {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100px;
    height: 100px;
}

.trash__msg {
    display: block;
    bottom: 70px;
}

.single__board {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.user__panel {
    height: 5%;
    background: #ededed;
    border-bottom: dashed;
}

.board__card {
    height: 75px;
    width: auto;
    position: relative;

    background: white;
    padding: 5px 10px;

    margin: 10px;
    border-radius: 5px;

    transition: 0.3s border-radius ease, 0.4s box-shadow ease;
}

.expanded__card {
    position: relative;
}

.expanded__middle {
    display: flex;
    margin-bottom: 10px;
}

.card__edit {
    position: absolute;
    left: 3px;
    bottom: 5%;
    height: 30%;
}

.card__download__button {
    height: 50%;
    left: 17%;
    bottom: 5%;
    position: absolute;
}

.color__picker {
    border-bottom: none;
    height: 35px;
    border-radius: 5px;
}

.expanded__card__header {

}

.expanded__tag {
    display: flex;
    margin-bottom: 5px;
}

.plus__tag {
    margin: 0px;
    margin-left: 25%;
}

.attachment__area {
    display: flex;
}

.upload__button {
    margin: 0px;
}

.adder__container {
    display: flex;
    border: 1px solid;
    border-radius: 5px;
}

.download__button {
    margin: 0px;
    width: 50%;
    /* height: 15px; */
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.expanded__card__tags {
    /* position: absolute;
    right: 5%;
    top: 5%; */
    /* width: 20%; */
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.expanded__tag__deleter {

}

.expanded__tag__deleter:hover {
    cursor: pointer;
}

.expanded__tag__content {
    width: 100%;
    border-radius: 15px;
    height: 25px;
}

.expaned__card__user__displayer {

}

.expanded__card__text {
    width: 60%;
    border: inset 2px;
    margin: 7px;
    padding: 5px;
}

.comment__section {

}

.comment__container {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment__avatar {
    width: 50px;
}

.comment__boardview {
    margin: 2px;
}

.comment__username {
    margin-left: 5px;
    margin-right: 5px;
}

.comment__content {
    width: 45%;
    margin: 5px;
}

.comment__deleter {
    width: 10%;
    margin: 0;
}

.comment__button {
    margin: auto;
    margin-left: 5px;
}

.comment {
    display: flex;
    margin-top: 7px;
}


.card__avatars {

}

.card__user__displayer {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 60%;
    width: 50%;
    padding: 5px;
}

.card__avatar {

}


.board__card:hover {
    box-shadow: 4px 4px 4px 1px;
    border-radius: 9px;
}

.card__header {
    position: absolute;
    /* left: 50%; */
    top: 0%;
    width: 90%;
}

.card__caption {
    text-align: center;
}

.card__content {
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;

    padding: 3px;
    font-size: 80%;

    border: 1px dotted;
}

.tags__container {
    height: 20px;
    display: flex;
    margin-left: 50%;
}

.tag {
    height: 100%;
    flex-grow: 1;
}

.board__card__container:hover {
    cursor: pointer;
}

.card__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: gray;    */
    background: hsla(0, 0%, 100%, .50);
    border: 2px dotted gray;
    height: 40px;
}


.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;

    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.date_label {
    margin: 0 auto 0;
}

.date_input {
    display: block;
    width: auto;
    height: 30px;
    position: relative;
    padding: 1rem 3.5rem 1rem 0.75rem;

    font-size: 1rem;
    font-family: monospace;

    border: 1px solid #8292a2;
    border-radius: 0.25rem;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;

    cursor: pointer;
}

.date_input:focus {
    outline: none;
    border-color: #3acfff;
    box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 2.5rem;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    cursor: pointer;

    color: rgba(0, 120, 250, 1);
    background: rgba(0, 120, 250, 1);

}

.date_input:hover::-webkit-calendar-picker-indicator {
    opacity: 0.05;
}

.date_input:hover::-webkit-calendar-picker-indicator:hover {
    opacity: 0.15;
}
