.board__view {
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
}

.board__tab__controller {
    /* width: 20%; */
    border: 1px solid #ccc;
}

.board__tabs {
    /* height: 50px; */
    background-color:#f1f1f1;
}

.board__tab {
    display: flex;
    position: relative;
    height: 75px;
    width: 150px;
    /* width: 100%; */
    border: 1px solid #ccc;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
}

.board__tab.selected {
    background-color: bisque;
}

.tab__name__container {
    position: absolute;
    width: 50%;
    height: 25%;
    left: 25%;
    /* top: 50%; */
    /* top: -25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tab__name__container:hover,
.tab__name__container:focus {
    cursor: pointer;
}

.tab__name {
    text-align: center;
}

.tab__deleter {
    position: absolute;
    right: 5%;
    top: 5%;
}

.tab__deleter:hover,
.tab__deleter:focus {
    cursor: pointer;
}

.tab__dropzone {
    top: 0;
    left: 0;
    position: absolute;
    height: 50%;
    width: 100%;
}

.tab__dropzone.lower {
    top: 0;
}

.tab__dropzone.upper {
    top: 50%;
}

.board__plus {
    text-align: center;
}

.board__plus:hover,
.board__plus:focus {
    /* color: black; */
    /* text-decoration: none; */
    cursor: pointer;
}

.plus__input {
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.group__displayer {
    display: flex;
    flex-direction: row;
}

.card__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.group__header {
    margin-top: 10px;
}

.group__plus {
}

.group__input {
}


.card__plus {

}

.card__container {

}

.board__card__container {
    width: 150px;
}

.board__view {
    position: relative;
}

.trash {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100px;
    height: 100px;
}

.board__card {
    height: 75px;
    width: 175px;

    border: 3px solid gray;
    background: white;
    padding: 5px 10px;

    margin-top: 10px;
    margin-left: 5px;

    border-radius: 5px;
}

.card__plus {
    background: gray;   
    border: 2px dotted gray;
}

/* .board__tabs {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.board__tabs input {
    width: 10%;
}

.board__tabs .content {
    display: flex;
    float: left;
    border: none;
    outline: none;
    padding: 3px 2px;
    align-items: center;
}

.board__tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.board__tabs :hover {
    background-color: #ddd;
}

.board__tabs .active {
    background-color: #ccc;
} */

/* .tab__closer {
    color: #aaa;
    float: left;
    font-size: 13px;
    font-weight: bold;
}

.tab__closer:hover,
.tab__closer:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.card__deleter {
    color: #aaa;
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.modal__input {
    display: none;
}

.modal__adder {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
}

.modal__adder:hover,
.modal__adder:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card__deleter:hover,
.card__deleter:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.group__deleter {
    color: #aaa;
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.group__deleter:hover,
.group__deleter:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.board__group {
    display: flex;
    flex-direction: column;
    border-right: double black;
    margin: 5px;
    padding: 5px;
}

.board__group__name {
    margin-left: 7.5%;
}

.board__board {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.board__card {
    height:100px;
    width: 200px;
    border: 3px solid gray;
    background: white;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
}

.board__card__adder {
    background: gray;   
    height: 45px;
    border: 2px dotted gray;
}

.board__modal {
    display: none; /* Hidden by default */
    /* position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    /* left: 0;
    top: 0;
    width: 100%; /* Full width */
    /* height: 100%; Full height */
    /* overflow: auto; Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */

/* .board__card__modal { */
    /* background-color: #fefefe; */
    /* margin: 15% auto; 15% from the top and centered */
    /* padding: 20px; */
    /* border: 1px solid #888;
    width: 80%;
}

.board__modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.board__modal__close:hover,
.board__modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */