#app
    h1 Канбан-доска здесь
div
    .row
        #col1.column
            h2 Что нужно сделать?
        #col2.column
            h2 Что сделано?
#view
    button Создать новую карточку
#logout
    button Разлогиниться