#app
    h1 Канбан-доска здесь
#view
    button Создать новую карточку
#logout
        button Разлогиниться
ul
    li
        span Нужно сделать
    li
        span В работе
    li
        span Сделано