ul
    li
        a(href="/" data-section="home") Домой
    li
        a(href="/board") Доска
    .rightside
        li.login
            a(href="/login") Войти
        li.profile
            a(href="/profile") Профиль
        li
            a(href="/info") О нас