.header {
    display: flex;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.8);
    margin: -20px auto 0;
    line-height: 70px;
}

.header__elem {
    width: 100px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

a.header__elem {
    color: white;
    text-decoration: none;
}

.header__elem:hover {
    background: #00bb77;
    color: white;
}

.header__left {
    display: flex;
}

.header__center {
    margin-left: auto;
}

.header__right {
    margin-left: auto;
    display: flex;
}
