#grid
    .col
        h2 С возвращением
        loginform
        button.vk-btn
            | Войти через
            span  ВКонтакте
    .col.dark
        h2 Время почувствовать себя как дома,
        signupform
        button.vk-btn
            | связать с аккаунтом
            span  ВКонтакте