label
    span Email
    input(name='email' type='email')
label
    span Password
    input(name='password' type='password')
label
    p.forgot-pass Забыли пароль? Ничем не можем вам помочь
    .login__error
button(type='submit').login__submit Войти
