div
    .row
        #col1.column
            img(src=require('./hero-a.svg'))
        #col2.column
            div
                h1(class='title')  Мы создали
                h1(class='title') Чтобы что
                h1(class='title') -то было

            a(href='/login' class='button') Начать пользоваться