ul
    li
        a(href="/" data-section="home") Домой
    li.board
        a(href="/board") Доска
    .rightside
        li.login
            a(href="/login") Войти
        li.profile
            a(href="/profile") Профиль
        li.logout
            a(href="/logout") Выйти
        li
            a(href="/info") О нас
